<h1>Worlds</h1>

<div class="cards">
  <% @worlds.each do |world| %>
    <div class="card">
      <h5 class="card-title"><%= world.name %></div>
      <div class="card-text"><%= world.description %></div>
    </div>
  <% end %>
</div>
