<div class="banner background">
  <h1 class="text-center">
    <a href="" class="typewrite" data-period="2000" data-type='[ "FUCK THE WORLD.", "BUILD YOUR OWN." ]'>
      <span class="wrap"></span>
    </a>
  </h1>
  <button>Sign Up!</button>
</div>
