<div class="banner background">
  <div>
    <h1 class="text-center">
      <a href="" class="typewrite" data-period="2000" data-type='[ "FUCK THE WORLD.", "BUILD YOUR OWN." ]'>
        <span class="wrap"></span>
      </a>
  </h1>
  <button>Sign Up!</button>
  </div>
</div>
<div class="container pb-4 my-5" id="how-it-works">
  <h2 class="text-center">How it works</h2>
  <div class="cards">
    <div class="card">
        <h3 class="text-center pt-3">Stop losing your notes</h3>
        <br>
        <p class="px-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra metus ut erat egestas fermentum.</p>
      <div id="img-cards" style="background-image: url('<%= image_path "cards.png" %>');"></div>
    </div>
    <div class="card">
      <h3 class="text-center pt-3">Map your world</h3>
      <br>
      <p class="px-3">Ut felis urna, aliquam a lorem non, efficitur vulputate velit. Nullam finibus libero eu dui iaculis ornare.</p>
      <div id="img-cards" style="background-image: url('<%= image_path "https://starwarsblog.starwars.com/wp-content/uploads/2017/01/GA_Naboo.jpg" %>');"></div>
    </div>
    <div class="card">
      <h3 class="text-center pt-3">See your story unfold</h3>
      <br>
      <p class="px-3">Vestibulum pellentesque suscipit nisl sed accumsan. Mauris et lectus varius, vehicula elit a, iaculis mi.</p>
      <div id="img-cards" style="background-image: url('<%= image_path "timeline-view.png" %>');"></div>
    </div>
  </div>
</div>
<div class="container d-flex p-0 my-4" id="user-testimonial">
    <div class="w-50" id="img">
    </div>
    <div class="w-50">
      <p class="font-italic m-5">"I'm using αCentury to expand on the StarWars universe. It is the best tool for worldbuilding and storytelling."</p>
      <p class="m-5">George Lucas</p>
    </div>
</div>
<div class="container py-4 mt-5" id="sponsors">
  <h2 class="text-center">They use our product</h2>
  <ul class="list-group list-group-horizontal d-flex justify-content-center my-5">
    <li>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Lucasfilm_logo.svg/1200px-Lucasfilm_logo.svg.png" alt="Lucasfilm_logo" class="img-fluid">
    </li>
    <li>
      <img src="http://tous-logos.com/wp-content/uploads/2018/05/Logo-Ubisoft.png" alt="Logo-Ubisoft" class="img-fluid">
    </li>
    <li>
      <img src="https://www.trzcacak.rs/myfile/full/57-578316_sega-logo-font-by-unknown-sega-logo-black.png" alt="sega-logo" class="img-fluid">
    </li>
  </ul>
</div>

