<h1>Cards#edit</h1>
<p>Find me in app/views/cards/edit.html.erb</p>

<!-- <form action=<%= "/cards/#{@card.id}" %>, method='PATCH' data-remote="true">
  <input id="x" type="hidden" name="content">
  <trix-editor input="x"></trix-editor>
  <input type="submit" id="save">
</form>
 -->

<%= render 'card_form', world: @world, card: @card %>

<div class="text-muted">
  <% @card.taggings.each do |tagging| %>
    <%= render 'tagging_item', tagging: tagging %>
  <% end %>
</div>
<div id="tag_form_wrap">
<%= render 'tag_form', world: @world, card: @card, tagging: @tagging %>
</div>
