<body class="background">
  <h1 class="worldtitle">Edit your card</h1>

  <div class="container" style="background-color: white">
    <%= render 'card_form', world: @world, card: @card %>
  </div>

  <div class="text-muted container" style="background-color: white;">
    <% @card.taggings.each do |tagging| %>
      <%= render 'tagging_item', tagging: tagging %>
    <% end %>
  </div>
  <div id="tag_form_wrap">
    <%= render 'tag_form', world: @world, card: @card, tagging: @tagging %>
  </div>
</body>
