.banner-world {
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  background-position: center;
  padding: 80px 0px 240px 0px ;
  position: relative;
}

.banner-world h1 {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner-world p {
  font-size: 16px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  max-height: 176px;
}

.world-link {
  display: flex;
  align-items: flex-end;
}

.world-link .btn{
  text-decoration: none;
  margin-right: 40px;
  padding: 3px 10px;
  background: #550E59;
  font-size: 20px;
  font-weight: black;
  color: #DA42D9;
  text-shadow: #DA42D9 0 0 10px;
  border: 3px solid #DA42D9;
  box-shadow: #DA42D9 0 0 10px;
}

.banner-world .myBtn{
  color: #46E5E5;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-world .myBtn:hover {
  color: #DA42D9;
}

.read_more_btn {
  margin-top: -24px;
  margin-bottom: 10px;
}

.world-link {
  position: absolute;
  bottom: 24px;
}
