.banner {
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  background-position: center;
  padding: 80px 0px 320px 0px ;
}

.banner h1 {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 16px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .myBtn{
  color: #46E5E5;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .myBtn:hover {
  color: #DA42D9;
}
