.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 32px;
  grid-auto-rows: auto;
  margin-top: 2rem;
}

.card {
  overflow: auto;
  background: white;
  box-shadow: #311A75 0 0 10px;
  border: 2px solid #311A75;
  padding: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card:hover{
  box-shadow: 0 0 8px 2px #311A75;
}

.more {
  display: none;
}

.card-header {
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(70, 229, 229, 0.3);
  color: #180858;
  width: 100%;
  text-align: center;
}

.card-body, .card-footer {
  font-family: 'Raleway', sans-serif;
}
