.footer {
    text-align: center;
    padding: 60px;
    background-color: #311A75;
}

.footer a {
    font-size: 30px;
    color: #46E5E5;
    text-shadow: #46E5E5 0 0 10px;
    margin: 7.5px;
    text-decoration: none;
}

.footer span {
    font-size: 30px;
    color: #46E5E5;
    text-shadow: #46E5E5 0 0 10px;
}

.footer a:hover {
    font-weight: bold;
}

.footer p {
    color: #46E5E5;
    text-shadow: #46E5E5 0 0 10px;
    font-family: 'Orbitron', sans-serif;
}

.footer .pages {
    padding-top: 20px;
}
