#exampleModalLabel {

}

.modal-dialog.card {
  margin-top: 12vh;
  max-height: 80vh;
  overflow: scroll;
  display: flex;
  min-height: initial;
}

.modal-body {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  width: 100%;
}

.modal-footer {
  display: flex;
}
