* {box-sizing: border-box;}

/* Style the navbar */
.navbar {
  height: 53px;
  background-color: #311A75;
  font-family: 'Orbitron', sans-serif;
  position: sticky;
  top: 0;
  z-index: 5000;
}

// .topnav .login-container .dropdown .dropdown-toggle {
//   overflow: visible;
// }

/* Navbar links */
.navbar a {
  float: left;
  display: block;
  color: #46E5E5;
  text-shadow: #46E5E5 0 0 10px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #180858;
  font-weight: bold;
}

/* Active/current link */
.navbar a.active {
  background-color: #180858;
}

/* Style the input container */
.navbar .login-container {
  float: right;
}

/* Style the input field inside the navbar */
.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.navbar .login-container button {
  float: right;
  padding: 6px;
  margin: 0px 8px;
  background: #550E59;
  font-size: 17px;
  color: #DA42D9;
  text-shadow: #DA42D9 0 0 10px;
  border: 1px solid #DA42D9;
  box-shadow: #DA42D9 0 0 10px;
  cursor: pointer;
}

.navbar .login-container button:hover {
  background: #DA42D9;
  color: #550E59;
}

/* Style the dropdown menu */
.navbar .dropdown-menu {
  background: #311A75;
  border: 1px solid #46E5E5;
  box-shadow: #46E5E5 0 0 5px;
  left: -95px;
}

.navbar .dropdown-menu .logout {
  border-top: 1px solid;
}

.navbar a.dropdown-toggle {
  padding: 11px 16px;
}

.navbar .dropdown-menu a:hover {
  color: #46E5E5;
}

/* Style the navbar collapse */
.collapse {
  background: #311A75;
}

.collapse .nav-link {
  padding-left: 10px;
}

.collapse .login-container {
  float: left;
}

.collapse .login-container button {
  margin: 10px 10px;
}

.navbar-toggler {
  border: 1px solid #46E5E5;
  box-shadow: #46E5E5 0 0 10px;
}

.navbar-toggler-icon {
  color: #46E5E5;
  text-shadow: #46E5E5 0 0 10px;
  padding: 5px 0 0 0;
}

.collapse .login-container .dropdown-menu {
  border: none;
  box-shadow: none;
}

// /* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
// @media screen and (max-width: 600px) {
//   .navbar .login-container {
//     float: none;
//   }
//   .navbar a, .topnav input[type=text], .topnav .login-container button {
//     float: none;
//     display: block;
//     text-align: left;
//     width: 100%;
//     margin: 0;
//     padding: 14px;
//   }
//   .topnav input[type=text] {
//     border: 1px solid #ccc;
//   }
// }
