#search_bar {
  margin-top: 20px;
  display: flex;
}

#search_bar .btn {
  text-decoration: none;
  padding: 3px 10px;
  background: #550E59;
  font-size: 18px;
  font-weight: black;
  color: #DA42D9;
  text-shadow: #DA42D9 0 0 10px;
  border: 3px solid #DA42D9;
  box-shadow: #DA42D9 0 0 10px;
}

.marclongdong {
  flex: 1;
}

#search-button {

}
.js-example-basic-multiple {

}
