.world{
  overflow: hidden;
  margin: 24px 0;
  height: 240px;
  background: white;
  box-shadow: #311A75 0 0 10px;
  border: 2px solid #311A75;
  display: flex;
  align-items: center;
  .world-image {
    background-size: cover;
  }
}

.world:hover{
  box-shadow: 0 0 8px 2px #311A75;
}

.world-image {
  background-position: center;
  background-size: cover;
  flex-grow: 2;
  flex-basis:0;
  height: 100%;
}

.world-header {
  display: flex;
  background-color: rgba(70, 229, 229, 0.3);
  width: 100%;
  height: 50px;
  justify-content: center;
  justify-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.world-header h2 a {
  text-decoration: none;
  color: #180858;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

.world-text {
  align-self: flex-start;
  flex-grow: 1;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  padding: 8px 24px;
}

.world-infos {
  flex-basis: 0;
  height: 100%;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.world-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 8px 32px;
}

#add_world {
  text-decoration: none;
  margin: 0 40px;
  padding: 3px 10px;
  background: #550E59;
  font-size: 20px;
  font-weight: black;
  color: #DA42D9;
  text-shadow: #DA42D9 0 0 10px;
  border: 3px solid #DA42D9;
  box-shadow: #DA42D9 0 0 10px;
}

.world-new{
  opacity: 0.5;
}

.world-new:hover{
  opacity: 0.8;
}

#world-new {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5% 5%;
  object-cover: fill;
}
