<h1>Timeline</h1>

<% array_of_tag = @tags.to_json %>

<form id="search_bar" action='<%="/worlds/#{@world.id}/timelines"%>' name="query" method="get" data-tags='<%= array_of_tag%>'>
  <div>
    <label for="id_label_multiple" style="width: 75%">
      <div>
        <% if params[:states].present? %>
          <% params[:states].each do |tag| %>
            <%= tag %>
          <% end %>
        <% end %>
      </div>
      <select id="id_label_multiple" class="js-example-basic-multiple" name="states[]" multiple="multiple" style="width: 75%">
      </select>
    </label>
  </div>
  <input type="submit">
</form>

<input type="checkbox" id="name_toggle"> Toggle event names

<br>
<div id="timeline"  data-string='<%= @hash %>'> </div>
<br>

<button id="create_link_btn" class="btn btn-light" style="display: none; width: 40%">
</button>
<button id="delete_link_btn" class="btn btn-danger" style="display: none; width: 40%">
</button>


